In [1]:
numbers = [1,2,3,4,5]

In [2]:
numbers

[1, 2, 3, 4, 5]

In [3]:
len(numbers)

5

In [4]:
numbers.append(6)

In [5]:
numbers

[1, 2, 3, 4, 5, 6]

In [13]:
numbers[1:5]

[2, 3, 4, 5]

In [14]:
numbers[2:]

[3, 4, 5, 6]

In [15]:
numbers[:3]

[1, 2, 3]

In [16]:
biodata={
    "nama":"Bagus",
    "umur": 26,
    "tempat_tinggal": "Bogor",
}

In [17]:
biodata.keys()

dict_keys(['nama', 'umur', 'tempat_tinggal'])

In [18]:
biodata.values()

dict_values(['Bagus', 26, 'Bogor'])

In [19]:
import pandas as pd

In [20]:
outlook = ["sunny","sunny","overcast","rainy","rainy","rainy","overcast","sunny","rainy","sunny"]
temp = ["hot","hot","hot","mild","cool","cool","mild","cool","mild","mild"]
humidity=["high","high","high","normal","normal","high","normal","normal","high","normal"]
windy=[False,True,False,False,False,True,True,False,True,True]
play=["no","no","yes","yes","yes","no","yes","no","yes","yes"]

In [21]:
df = pd.DataFrame(
    {
       "outlook":outlook,
        "temp":temp,
        "humidity":humidity,
        "windy":windy,
        "play":play,
    }
)

In [22]:
df

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild   normal  False  yes
4     rainy  cool   normal  False  yes
5     rainy  cool     high   True   no
6  overcast  mild   normal   True  yes
7     sunny  cool   normal  False   no
8     rainy  mild     high   True  yes
9     sunny  mild   normal   True  yes

In [23]:
df.shape

(10, 5)

In [24]:
df.describe()

       outlook  temp humidity windy play
count       10    10       10    10   10
unique       3     3        2     2    2
top      rainy  mild   normal  True  yes
freq         4     4        5     5    6

In [25]:
df.outlook.describe()

count        10
unique        3
top       rainy
freq          4
Name: outlook, dtype: object

In [26]:
df["new_coloumn"] = "new value"

In [27]:
df

    outlook  temp humidity  windy play new_coloumn
0     sunny   hot     high  False   no   new value
1     sunny   hot     high   True   no   new value
2  overcast   hot     high  False  yes   new value
3     rainy  mild   normal  False  yes   new value
4     rainy  cool   normal  False  yes   new value
5     rainy  cool     high   True   no   new value
6  overcast  mild   normal   True  yes   new value
7     sunny  cool   normal  False   no   new value
8     rainy  mild     high   True  yes   new value
9     sunny  mild   normal   True  yes   new value

In [28]:
df["play-1"]=df["play"].shift(-1)

In [29]:
df

    outlook  temp humidity  windy play new_coloumn play-1
0     sunny   hot     high  False   no   new value     no
1     sunny   hot     high   True   no   new value    yes
2  overcast   hot     high  False  yes   new value    yes
3     rainy  mild   normal  False  yes   new value    yes
4     rainy  cool   normal  False  yes   new value     no
5     rainy  cool     high   True   no   new value    yes
6  overcast  mild   normal   True  yes   new value     no
7     sunny  cool   normal  False   no   new value    yes
8     rainy  mild     high   True  yes   new value    yes
9     sunny  mild   normal   True  yes   new value    NaN

In [30]:
df.head()

    outlook  temp humidity  windy play new_coloumn play-1
0     sunny   hot     high  False   no   new value     no
1     sunny   hot     high   True   no   new value    yes
2  overcast   hot     high  False  yes   new value    yes
3     rainy  mild   normal  False  yes   new value    yes
4     rainy  cool   normal  False  yes   new value     no

In [31]:
df.head(7)

    outlook  temp humidity  windy play new_coloumn play-1
0     sunny   hot     high  False   no   new value     no
1     sunny   hot     high   True   no   new value    yes
2  overcast   hot     high  False  yes   new value    yes
3     rainy  mild   normal  False  yes   new value    yes
4     rainy  cool   normal  False  yes   new value     no
5     rainy  cool     high   True   no   new value    yes
6  overcast  mild   normal   True  yes   new value     no

In [32]:
df.tail()

    outlook  temp humidity  windy play new_coloumn play-1
5     rainy  cool     high   True   no   new value    yes
6  overcast  mild   normal   True  yes   new value     no
7     sunny  cool   normal  False   no   new value    yes
8     rainy  mild     high   True  yes   new value    yes
9     sunny  mild   normal   True  yes   new value    NaN

In [33]:
df.tail(6)

    outlook  temp humidity  windy play new_coloumn play-1
4     rainy  cool   normal  False  yes   new value     no
5     rainy  cool     high   True   no   new value    yes
6  overcast  mild   normal   True  yes   new value     no
7     sunny  cool   normal  False   no   new value    yes
8     rainy  mild     high   True  yes   new value    yes
9     sunny  mild   normal   True  yes   new value    NaN

In [34]:
df.sample()

  outlook  temp humidity  windy play new_coloumn play-1
8   rainy  mild     high   True  yes   new value    yes

In [37]:
df[["outlook","humidity"]]

    outlook humidity
0     sunny     high
1     sunny     high
2  overcast     high
3     rainy   normal
4     rainy   normal
5     rainy     high
6  overcast   normal
7     sunny   normal
8     rainy     high
9     sunny   normal

In [ ]:
df.outloo